body{

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}



#carousel{
  width: 800px;
  height: 400px;
  border : solid 4px #FFF;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
  position: relative;
}
#container{
  width: 800px;
  height: 400px;

}
.bouton{
  position: absolute;
  width: 70px;
  cursor :pointer;
  top: 100px;
}
#g{
  opacity: 0.4;
  left: 0;
  transform: rotate(0deg);
  transition: all 0.3 ease;
}
#d{
  right: 0;
  opacity: 0.4;
  transform: rotate(180deg);
  transition: all 0.3 ease;
}
#g:hover{
  transform: scale(1.1);
  opacity: 1;
  transition: all 0.3 ease;
}
#d:hover{
  transform: scale(1.1);
  opacity: 1;
  transition: all 0.3 ease;
}
.photo{
    width: 800px;
    height: 400px;
    margin: 0;
    display: inline-block;
    background-size: cover;
}